export(clearseq_with_extend)
export(integrate_seurat_extend)
export(enhanced_normalization)
export(find_variable_features_extend)
export(run_pca_extend)
export(run_umap_extend)
export(cluster_cells_extend)
export(umap_plot_extend)

